
.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: auto;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  flex-direction: column;
   min-height: calc(100vh - 175px);
}

.sec-1 {
  border-radius: 10px;
  background-color: rgb(39, 36, 47);
  width: 900px;
  box-shadow: 0px 0px 10px 2px rgb(209 204 196);
  margin-top:50px;
  margin-bottom: 30px;
  @include for-lg-desktop {
    max-width: 90%;
  }
}

.fa-circle ul  {
  display: flex;
  padding: 10px;
}

.fa-circle {
  background-color: rgb(140, 140, 140);
  border-radius: 8px 8px 0 0;
}

.fa-circle ul li {
  list-style-type: none;
  padding-left: 4px;
}

.sec-1-child {
  padding: 40px;
  max-width: 100%;
  @include for-lg-desktop {
    padding: 25px ;
  }
}

.sec-1-child p {
  margin: 20px 0;
}

.span-green {
  color:rgb(103, 231, 171)
}

.span-rgb-green {
  color: rgb(138, 240, 138);
}

.sec-1-child ul {
  column-count: 2;
  @include for-lg-desktop {
    column-count: 1;
  }
}

.sec-1-child .hobbies {
  column-count: 1; 
}


.sec-1-child ul li {
  list-style-type: none;
  line-height: 1.75;
}

.sec-1-child p, .sec-1-child  li {
  margin: 1rem 0;
}

.hobbies-icons {
  padding-right: 10px;
  padding-top:4px ;
  margin-right: 5px;
  position: relative ;
  top: 3px;
}

 .sec-1-child ul li:hover {
 position: relative;
 top:-3px;
}
.hobbies li:hover {
  position: relative;
 top:-3px;
}