
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 50px 0;
    flex-direction: column;
    gap: 2px;
    font-family: Roboto,Helvetica,sans-serif;
}